@page "/nouvelle-tache"

<PageTitle>Ma nouvelle tâche</PageTitle>

<section class="row">
    <div class="
         col-12 col-sm-10 col-md-8 col-lg-6 col-xxl-4
         offset-sm-1 offset-md-2 offset-lg-3 offset-xxl-4
         ">
        <h3>Ma nouvelle tâche</h3>
        <TodoCreateComponent></TodoCreateComponent>
    </div>
</section>